/* |SECTION PROPERTIES|  */

/* background colors */
$bg-color-section: #EDF2EC;

/* text-colors */
$main-text-color: #636060;


/* |FONT PROPERTIES| */

$primary-font-family: Inter, sans-serif;
$secondary-font-family: Inika, sans-serif;

/* font sizes */
$regular-font-size: 20px;
$large-font-size: 40px;
$small-font-size: 16px;

/*font weights */
$primary-font-weight: 400;
$secondary-font-weight: 700;



