.about {
  padding-top: 82.6px;
  padding-bottom: 91px;
  
  .about-bg {
    background-image: url("../assets/img/houseplant-1.png"); //sciezka jest wzgledem katalogu css/
    background-repeat: no-repeat;
    background-position: right;
  }

  .about-description {
    max-width: 594px;
    padding: 50px 0 50px;
  
    .section-heading {
      font-weight: $primary-font-weight;
      color: #499A18;
    }
    
    .primary-paragraph {
      @include primary-text($line-height: 30px); //($line-height)
    }
  }

}



@media all and (max-width: 1139px) {
  .about {
    .about-bg {
      background-image: url("../assets/img/houseplant-tablet.png");
      background-position: bottom;
    }
  }

}
@media all and (max-width: 649px){
  .about {
    padding-top: 0;
    padding-bottom: 30px;

    .about-bg {
      background-image: url("../assets/img/houseplant-mobile.png");
      //background-position: bottom;
    }
    .about-description {
      padding: 25px 0 190px;

      .primary-paragraph {
        @include primary-text($line-height: 25px, $font-size: 15px);
        //transform: translateY(-7px);
      }

    }
  }
}

@media all and (min-width: 650px) and (max-width: 1139px)  {
  .about{
    padding-top: 57px;

    .about-description {
      max-width: 100%;
      height: 653px;
      padding: 0 0 40px 30px;

      .about-heading {
        text-align: center;
        padding-inline: 80px;
        margin-top: 0;
        margin-bottom: 55px;
      }

      .primary-paragraph {
        @include primary-text($line-height: 27px, $font-size: 17px); 
      }

    }

  }
}