.row {
  @include flexbox;
}

/* .col {
  @include flexbox(nowrap, column);
} */

.col-33p {
  width: 33.33%;
}

@media all and (max-width: 988px) {
  .col-50p {
    width: 50%;
  }
}

@media all and (max-width: 649px) {
  .col {
    width: 100%;
  }
}