.price {
  font-weight: $secondary-font-weight;
  padding: 40px 104px 121px;


  //redefiniuje wlasciwosci kontenera pod wymogi tej sekcji
  .container {
    @include flexbox($flex-wrap: nowrap);
    @include flex-align(space-between, stretch)
  }

  .prices {

    .price-list {

      border: 1px solid #e3e1d5;
      border-radius: 20px;
      padding: 40px;
      margin-top: 64px;
      width: 350px;
      margin: auto;

      .price-list-item {
        width: 100%;
        //padding: 16px 40px;
        background-color: #edf2ec;
        border-radius: 20px;
        margin-bottom: 15px;

        &.open {
          background-color: #D6E7D2;
        }
      }

      .price-list-item:last-child {
        margin-bottom: 0;
      }

      .accordion-header {
        @include flexbox;
        @include flex-align(space-between, center);

        cursor: pointer;
        padding: 16px 40px;


        span {
          font-size: $regular-font-size;
        }

        &.open {
          .prices-dropdown-icon {
            transform: rotate(180deg);
          }
        }

        .prices-dropdown-icon {
          background-color: #d9d9d9;
          position: relative;
        }

      }

      .accordion-body {
        display: none;

        p {
          color: $main-text-color;
          font-weight: 400;
          margin: 0;
          font-size: 1rem;
          margin-top: 10px;
        }

        .price-holder {
          margin: 10px 0;

          span {
            color: #E06733;
            font-size: 1.2rem;
            font-weight: 700;
          }
        }
      }

      .accordion-body.visible {
        //margin-top: 10px;
        margin: 0 40px 0;
        padding-bottom: 16px;
        border-top: 1px solid $main-text-color;
        display: block;
      }

    }
  }

  .prices-help {
    text-align: right;
    flex-basis: 500px;
    height: 418px;

    background-image: url(../assets/img/leafs-small.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .prices-heading {
    font-family: $primary-font-family;
    margin-top: 0; //todo: wyniesc to do styli globalnych
    margin-bottom: 70px;
  }

  .prices-help-heading {
    flex-basis: 400px;
    font-size: $large-font-size;
    margin-top: 0;
  }


}


@media all and (max-width: 1439px) {
  .price {
    padding: 40px 46px 92px;

    .prices-help {
      padding-top: 106px;
      height: 474px;
      margin-left: 15px;

      .prices-help-heading {
        font-size: 33px;
        margin-bottom: 44px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .price {
    .container {
      display: block; //zmieniam flex'a na po prostu block
    }

    .prices-help {
      margin-left: 0;

      .prices-help-heading {
        text-align: left;
      }

    }
  }
}



@media all and (max-width: 988px) {
  .price {
    .prices {

      .prices-heading {
        margin-bottom: 40px;
      }

      .price-list {
        max-width: 300px;
        padding: 26px;

        .accordion-body {
          &.visible {
            margin: 0 24px 0;
            
            p {
              font-size: 12px;
            }
          }
        }
      }
    }

    .prices-help {
      .prices-help-heading {
        font-size: 25px;
      }
    }
  }
}

@media all and (max-width: 649px) {
  .price {
    padding: 40px 10px 92px;

    .prices {
      .price-list {
        max-width: 270px;
      
        .price-list-item {
          width: 100%;
        }

        .accordion-body {
          &.visible {
            
            p {
              font-size: 12px;
            }
          }
        }

        .accordion-header {
          padding: 13px 30px;
          
          span {
            font-size: 15px;
          }
        }
      }
    }
    .prices-help {
      background-image: none;
      height: auto;

      .btn {
        display: block;
        margin: auto;
        
      }
    }
  }
}