%btn {
  font-weight: 400;
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid #E06733;

  &:hover {
    color: #fff;
    background-color: #E06733;
    transition: all .3s;
  }

  &:disabled {
    background-color: initial;
    color: #E06733;
  }

  &.active {
    color: #fff;
    background-color: #E06733;
  }
  
}

.primary-btn {
  @extend %btn;

  text-transform: uppercase;
  margin-top: 25px;
  padding: 10px 27px;
  font-size: $small-font-size;
  color: #010201;
}

.secondary-btn {
  @extend %btn;

  font-family: $secondary-font-family;
  color: #E06733;
  font-size: $regular-font-size;
  min-width: 161px;
  padding-block: 12px;
  border-radius: 5px;
  margin-inline: 15px;
}

.btn-order {
  background-color: #fff;
  padding: 5px 26px;
  border-radius: 10px;
  font-weight: 700;
  color: $main-text-color;
  display: inline-block;
  margin-top: 10px;
}

.circle {
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  border: none;
}



@media all and (max-width: 649px) {
  .primary-btn {
    width: 100px;
    max-width: 100%;
    height: 34px;
    font-size: 10px;
    line-height: 20px;
    margin: 9px 0 30px 0;
    padding: 0;
    border: 2px solid #e06733;
  }

  .secondary-btn {
    font-size: 17px;
    min-width: 111px;;
    border-radius: 9px;
    margin-block: 5px;
    padding: 8px 10px;
    margin-inline: 4px;
  }
}

@media all and (min-width: 650px) and (max-width: 1139px) {
  .primary-btn {
    padding: 10px 24px;
    margin-top: 21px;
  }
}